################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/PaMa
/PaMa.sln
/PaMa.vcxproj
/PaMa.vcxproj.filters
/PaMa.vcxproj.user
